[Desktop Entry]
Type=MBTheme
Name=Pandora Large

DockBgColor=#f6f6f6
TitlebarDockBgColor=#f6f6f6
PanelFgColor=#9e9e9e

MenuBgColor=#f6f6f6
MenuFgColor=black
MenuHlColor=#3e71aa44
MenuBdColor=#9e9e9e

DesktopBgSpec=img-tiled:./PandoraWallpaper.png
DesktopHlCol=#3e71aa44

PanelMsgBgCol=#f7be38
PanelMsgBgUrgentCol=#d75910
PanelMsgFgCol=black
